.container {
  display: grid;

  margin-top: 5rem;

  &-title {
    margin-bottom: 6rem;

    text-align: center;

    color: #777;

    font-size: 4.8rem;
    font-weight: 300;

    span {
      font-weight: 400;
    }
  }

  .menu {
    margin: 3rem auto 8rem auto;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    svg {
      cursor: pointer;
    }
  }

  .albums {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    width: 100%;
    max-width: 125rem;

    grid-gap: 5rem 2.5rem;

    .album {
      padding: 1.2rem;

      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
        transform: scale(1.1);
      }

      &:hover:before {
        transform: scale(1.2) translateX(-6.5rem);
      }

      &:hover:after {
        transform: scale(1.5) translateX(4.5rem);
      }

      &-thumbnail {
        width: 20rem;
        height: 20rem;
        padding: 1rem;

        border: 1px solid #777;
        border-radius: 2.5rem;
        background-size: cover;
        &:hover {
          opacity: 0.6;
        }

        img {
          width: 50%;

          border-radius: 1.5rem;
        }
        position: relative;
        z-index: 1;
      }

      position: relative;

      &-favorite {
        display: block;
        position: absolute;
        z-index: 2;
        width: 5rem;
        height: 5rem;
        margin: -1rem 0 0 -2rem;
        content: "";
        &:hover {
          transform: scale(1.3);
          transition: 0.3s;

          fill: gold;
        }

        &:active {
          transform: scale(3);
        }
      }

      &-name {
        overflow: hidden;

        width: 20rem;
        margin: 0.5rem 0;

        text-align: center;
        white-space: nowrap;
        text-overflow: ellipsis;

        color: #2a62fe;

        font-size: 2rem;
      }

      &:after {
        display: block;

        width: 10rem;
        height: 0.5rem;
        margin-top: 1rem;

        content: "";
        transition: all 0.5s;

        border-right: 1px white;
        border-radius: 2rem;
        background-color: #3195c4;
      }
      &:before {
        display: block;

        height: 0.5rem;
        margin-top: -2rem;
        margin-bottom: 1rem;
        margin-left: 10.1rem;

        content: "";
        transition: all 0.5s;

        border-radius: 2rem;
        background-color: #2a62fe;
      }
    }
  }
}
